<div>
  <div class="container">
    <div class="row">
      <div class="label-column">
          <label class="bold-label">VHIdiagnosis:</label>
        </div>

        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().VHIdiagnosis
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">CancerDiagnosis:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().CancerDiagnosis
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">kidneyDiagnosis:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().kidneyDiagnosis
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">malnutrition Diagnosis:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().malnutritionDiagnosis
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">dose:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().dose
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">frequency administration:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().frequencyadministration
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">Duration:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().duration
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">duration:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().duration
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">amount:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIMedicalDiagnostic().amount
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>