<div>
    <div class="container">
      <div class="row">
        <div class="label-column">
          <label class="bold-label">Prescription:</label>
        </div>

        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().Prescription
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">identification:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().identification
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">prescriptionDate:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().prescriptionDate
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">Affiliate:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().Affiliate
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">IPS:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().IPS
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">enablingCode:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().enablingCode
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">PrincipalDX:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().principalDX
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">orphanDisease:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().orphanDisease
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">medication Type:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().medicationType
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">state Board:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().stateBoard
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">refCounterReference:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().refCounterReference
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">activeprinciple:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().activeprinciple
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">Presentation:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().Presentation
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">recomIndication:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().recomIndication
            }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="label-column">
          <label class="bold-label">justification:</label>
        </div>
        <div class="value-column">
          <div class="label-value-pair">
            <span class="value">{{
              dataIPrescriptionInformation().justification
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
