.bold-label {
  font-weight: bold;
}

/* Estilo para cada par de etiquetas y valores */
.label-value-pair {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 10px; /* Espacio entre etiquetas y valores */
}

.value {
  margin-left: 0; /* Ajusta el valor según tus preferencias */
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.label-column {
  flex: 30%;
  display: flex;
  align-items: center;
}

.value-column {
  flex: 70%;
  display: flex;
  align-items: center;
}